        <h2>Tickets Abiertos</h2>
        <table>
        <tr>
            <th colspan="1">Fecha</th>
            <th colspan="2">Nombre Cliente</th>
            <th colspan="3">Contacto</th>
            <th colspan="4">Dominio</th>
            <th colspan="5">Descripción</th>
            <th colspan="6">Importancia</th>
            <th colspan="7">ID</th>
        </tr>
        
        <!-- loopear -->
        <tr>
            <td>
            </td>
        </tr>
        
        </table>
