<h2>Tickets abiertos por <br /><% mail %></h2>

<p>Puede haber hasta <b><% max %> tickets asignados</b> por dirección de correo.</p>

<ul>
    <% FOR m in ids %>
        <li><a href="/ticket/<% m %>"><% m %></a></li>
    <% END %>
</ul>

